<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BİL 420 Güvenli Kimlik Doğrulama Projesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="app-container">
        <h1>Güvenli Kimlik Doğrulama Toolkit </h1>
        
        <div id="content-area">
            </div>

        <div id="message-area" class="message"></div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>